/* comentario */
body {
        background: rgb(255,200,221);
        background: linear-gradient(90deg, rgba(255,200,221,1) 0%, rgba(205,180,219,1) 35%, rgba(189,224,254,1) 100%);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    }

   /* img{ heigth width: 600px;  border-radius: 400px;}*/
    .osos escandalosos{
        width: 300px;
        border-radius: 10px;
        border: solid;
    }

    .escandalosos{
        width: 350px;
        border-radius: 100px;
        opacity: 0.5;
        border: double;
    }
h2{
    text-align: center;
}
    .curiosidades{
      background-image: url("https://i.pinimg.com/474x/0b/f4/eb/0bf4eb8a850bbb9d23ca5eb7f13be732.jpg"); 
    font-size: 17px;
    color:#384252;
    background-blend-mode: color;
    }

    .imagenes{
        text-align: center;
    }